@media only screen and (max-width:1024px){
    
    .header .menu ul{
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.8);
        transform: scale(0,0);
    }
    
    .header .menu ul li{
        padding: 15px 0px;
        border-bottom: 1px solid gray;
        
    }
    .header .menu ul li:hover a{
        background:  #FF8A3B;
       padding: 15px;
    transform: scale(3,3);
        transition: .5s;
        border-radius: 10px;
    }
    
    .header .menu ul li a{}
    
    .mobile-menu{
        display: block;
        align-self: center;
        cursor: pointer;
    }
    
}